<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Hunter</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col">
    <header class="bg-blue-600 text-white py-4">
      <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold">Deal Hunter</h1>
        <p class="text-sm">Find the best deals online</p>
      </div>
    </header>

    <main class="flex-grow container mx-auto px-4 py-8">
      <div class="bg-white shadow-lg rounded-lg p-6 mb-8">
        <form id="searchForm" class="mb-6 w-full">
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="keyword"
            >
              Search Keyword
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="keyword"
              type="text"
              placeholder="Enter search keyword"
              required
            />
          </div>
          <div class="flex justify-between items-center p-2">
            <div class="flex-1">
              <label
                class="block text-gray-700 text-sm font-bold mb-2 w-full"
                for="sourceCountry"
              >
                import to
              </label>
              <select
                name="sourceCountry"
                class="bg-gray-200 mr-2 w-full"
                style="width: 100%"
                id="sourceCountryOptions"
                required
              ></select>
            </div>
            <div class="flex-1 ml-2">
              <label
                class="block text-gray-700 text-sm font-bold mb-2 w-full"
                for="targetCountry"
              >
                import from
              </label>
              <select
                style="width: 100%"
                name="targetCountry"
                class="w-full mr-2 bg-gray-200"
                id="targetCountryOptions"
                required
                multiple
              ></select>
            </div>
          </div>
          <div class="m-2">
            <label
              class="block text-gray-700 text-sm font-bold mb-2 w-full"
              for="price"
            >
              Price
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="price"
              type="number"
              step="any"
              placeholder="Enter price"
              required
            />
          </div>
          <div class="flex justify-between items-center">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full focus:outline-none focus:shadow-outline transition duration-300"
              type="submit"
            >
              Start Search
            </button>
            <button
              id="resetButton"
              class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-6 rounded-full focus:outline-none focus:shadow-outline transition duration-300"
              type="button"
            >
              Reset
            </button>
          </div>
        </form>

        <div id="searchResults" class="hidden">
          <div class="mb-6">
            <p class="text-lg">
              Number of findings:
              <span id="findingsCount" class="font-bold text-blue-600"></span>
            </p>
          </div>

          <div
            class="flex flex-col sm:flex-row justify-between items-center space-y-4 sm:space-y-0 sm:space-x-4 mb-6"
          >
            <button
              id="extractAll"
              class="w-full sm:w-auto bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-6 rounded-full focus:outline-none focus:shadow-outline transition duration-300"
            >
              Extract All
            </button>
            <div class="flex w-full sm:w-auto items-center space-x-2">
              <input
                id="extractCount"
                type="number"
                placeholder="Count"
                class="flex-grow shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              />
              <button
                id="extractSpecific"
                class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-6 rounded-full focus:outline-none focus:shadow-outline transition duration-300"
              >
                Extract Specific
              </button>
            </div>
          </div>
        </div>

        <div id="loadingIndicator" class="hidden">
          <div class="flex justify-center items-center py-12">
            <div
              class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-blue-500"
            ></div>
          </div>
        </div>

        <div id="resultsContainer" class="hidden">
          <h2 class="text-2xl font-bold mb-4 text-blue-600">Search Results</h2>
          <div class="overflow-x-auto bg-white rounded-lg shadow max-h-[80vh]">
            <input
              type="text"
              id="search"
              oninput="search()"
              class="w-full p-2 sticky left-0 top-0 my-px"
              placeholder="Search"
              onchange="search()"
              title="Type in a name"
            />
            <table id="resultsTable" class="min-w-full p-5 sortable">
              <thead class="bg-gray-50 table-header-group">
                <tr>
                  <th
                    title="Click to sort"
                    onclick="sortTable('productName')"
                    class="py-3 cursor-pointer px-4 border-b text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Title
                  </th>
                  <th
                    title="Click to sort"
                    onclick="sortTable('brand')"
                    class="py-3 cursor-pointer px-4 border-b text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Brand
                  </th>
                  <th
                    class="py-3 cursor-pointer px-4 border-b text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Sizes
                  </th>
                  <th
                    class="py-3 cursor-pointer px-4 border-b text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Colors
                  </th>
                  <th
                    class="py-3 cursor-pointer px-4 border-b text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Image
                  </th>
                  <th
                    title="Click to sort"
                    onclick="sortTable('originalPrice')"
                    class="py-3 cursor-pointer px-4 border-b text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Original Price
                  </th>
                  <th
                    title="Click to sort"
                    onclick="sortTable('discountedPrice')"
                    class="py-3 cursor-pointer px-4 border-b text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Discounted Price
                  </th>
                  <th
                    title="Click to sort"
                    onclick="sortTable('profit/loss')"
                    class="py-3 cursor-pointer px-4 border-b text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    PNL
                  </th>
                  <th
                    class="py-3 px-4 border-b text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Country
                  </th>
                  <th
                    class="py-3 px-4 border-b text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    URL
                  </th>
                </tr>
              </thead>
              <tbody id="resultsBody" class="divide-y divide-gray-200"></tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-gray-800 text-white py-4">
      <div class="container mx-auto px-4 text-center">
        <p>&copy; 2024 Deal Hunter. All rights reserved.</p>
      </div>
    </footer>
    <style>
      td {
        text-align: center;
      }
    </style>
    <script>
      $(document).ready(() => {
        $('#targetCountryOptions').select2({
          width: 'resolve',
        })
        $('#sourceCountryOptions').select2({
          width: 'resolve',
        })
        getCountries().then((countries) => {
          populateCountries(countries)
        })
      })
      var asc = true
      document.getElementsByClassName('')
      var data = []
      var filteredData = []
      const baseUrl = `${
        '{{development}}' == 'True' ? 'http' : 'https'
      }://{{ request.get_host }}/`
      const getCountries = async () => {
        let res = await $.ajax({
          url: `${baseUrl}request_result/request/get_countries/`,
          type: `GET`,
        })
        return res
      }
      const populateCountries = (countries) => {
        const sourceCountryOptions = document.getElementById(
          'sourceCountryOptions'
        )
        const targetCountryOptions = document.getElementById(
          'targetCountryOptions'
        )
        countries.source.forEach(({ name, code, flag }) => {
          const sourceOption = document.createElement('option')
          sourceOption.value = code
          sourceOption.textContent = `${flag} ${name}`
          sourceCountryOptions.appendChild(sourceOption)
        })
        countries.target.forEach(({ name, code, flag }) => {
          const targetOption = document.createElement('option')
          targetOption.value = code
          targetOption.textContent = `${flag} ${name}`
          targetCountryOptions.appendChild(targetOption)
        })
      }

      const fetchCount = async ({
        searchWord,
        sourceCountry,
        targetCountry,
      }) => {
        let res = await $.ajax({
          url: `${baseUrl}request_result/request/get_count/`,
          type: 'POST',
          data: {
            searchWord,
            sourceCountry,
            targetCountry,
          },
        })
        return res
      }

      const fetchResults = async ({
        searchWord,
        sourceCountry,
        targetCountry,
        count,
        price,
      }) => {
        let res = $.ajax({
          url: `${baseUrl}request_result/request/extract_trendyol_results/`,
          type: 'POST',
          data: {
            searchWord,
            sourceCountry,
            targetCountry,
            count,
            price,
          },
        })
        return res
      }

      document
        .getElementById('searchForm')
        .addEventListener('submit', async function (e) {
          e.preventDefault()
          const price = document.getElementById('price').value
          if (!price || parseInt(price) < 0)
            return alert('Please enter a valid price to extract.')
          const searchWord = document.getElementById('keyword').value
          showLoading(true)
          const sourceCountry = $('#sourceCountryOptions').select2('data')
          const targetCountry = $('#targetCountryOptions').select2('data')
          let totalResults = 0
          let promises = []
          try {
            sourceCountry.forEach((source) => {
              targetCountry.forEach((target) => {
                promises.push(
                  fetchCount({
                    searchWord,
                    sourceCountry: source.id,
                    targetCountry: target.id,
                  })
                )
              })
            })
            let results = await Promise.all(promises)
            totalResults = results.reduce((acc, { count }) => acc + count, 0)
            document.getElementById('findingsCount').textContent = totalResults
            document.getElementById('searchResults').classList.remove('hidden')
          } catch (error) {
            console.error('Error:', error)
            alert('An error occurred while searching. Please try again.')
          } finally {
            showLoading(false)
          }
        })

      const validatePrice = (price) => {
        if (!price || parseFloat(price) < 0)
          return alert('Please enter a valid price to extract.')
        return true
      }
      const validateCount = (count) => {
        const maxCount = document.getElementById('findingsCount').textContent
        if (
          !count ||
          parseInt(count) < 0 ||
          parseInt(count) > parseInt(maxCount)
        )
          return alert('Please enter a valid count to extract.')
        return true
      }

      document
        .getElementById('extractAll')
        .addEventListener('click', function () {
          const price = document.getElementById('price').value
          const count = document.getElementById('findingsCount').textContent
          if (!validatePrice(price)) return
          extractResults(count)
        })

      document
        .getElementById('extractSpecific')
        .addEventListener('click', function () {
          const price = document.getElementById('price').value
          const count = document.getElementById('extractCount').value
          if (!validatePrice(price) || !validateCount(count)) return
          extractResults(count)
        })

      document
        .getElementById('resetButton')
        .addEventListener('click', function () {
          document.getElementById('keyword').value = ''
          document.getElementById('searchResults').classList.add('hidden')
          document.getElementById('resultsContainer').classList.add('hidden')
          document.getElementById('extractCount').value = ''
        })

      async function extractResults(count) {
        const searchWord = document.getElementById('keyword').value
        const price = document.getElementById('price').value
        const sourceCountry = $('#sourceCountryOptions').select2('data')
        const targetCountry = $('#targetCountryOptions').select2('data')
        showLoading(true)
        promises = []
        try {
          sourceCountry.forEach((source) => {
            targetCountry.forEach((target) => {
              promises.push(
                fetchResults({
                  searchWord,
                  sourceCountry: source.id,
                  targetCountry: target.id,
                  count,
                  price,
                })
              )
            })
          })
          let results = await Promise.all(promises)
          results = results.map((res) => res.results).flat()
          data = results
          filteredData = results
          displayResults(results)
        } catch (error) {
          console.error('Error:', error)
          alert('An error occurred while extracting results. Please try again.')
        } finally {
          showLoading(false)
        }
      }

      const search = () => {
        let searchWord = document.getElementById('search').value.toLowerCase()
        filteredData = data.filter((item) =>
          Object.keys(item).some((key) => {
            if (key == 'imageURL' || key == 'color' || key == 'link')
              return false
            if (key == 'sizes')
              return item[key].some(({ size }) => size.includes(searchWord))
            return item[key].toString().toLowerCase().includes(searchWord)
          })
        )
        displayResults(filteredData)
      }

      const sortTable = (key) => {
        showLoading(true)
        filteredData = filteredData.sort((a, b) => {
          if (!a[key] && !b[key]) return 0
          if (!a[key]) return 1
          if (!b[key]) return -1
          if (a[key] > b[key]) return 1
          if (a[key] < b[key]) return -1
          return 0
        })
        if (asc) filteredData = filteredData.reverse()
        asc = !asc
        displayResults(filteredData)
        showLoading(false)
      }

      function displayResults(results) {
        let search = document.getElementById('search').value.toLowerCase()
        let regex = new RegExp(search, 'ig')
        const tbody = document.getElementById('resultsBody')
        tbody.innerHTML = ''

        results.forEach((result) => {
          const row = tbody.insertRow()
          row.insertCell(0).innerHTML = result.productName.toString().replace(regex, `<mark>${search}</mark>`)
          row.insertCell(1).innerHTML = result.brand.toString().replace(regex, `<mark>${search}</mark>`)
          let sizes = row.insertCell(2)
          let sizeList = document.createElement('ul')
          sizeList.className = 'grid  w-[30vw]'
          sizeList.style =
            'grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));'
          if (!result.sizes) sizeList.innerHTML = 'N/A'
          else {
            result?.sizes.forEach(({ size, inStock }) => {
              let sizeItem = document.createElement('li')
              sizeItem.innerHTML = size.replace(regex, `<mark>${search}</mark>`)
              sizeItem.className = inStock ? 'text-green-600' : 'text-red-600'
              sizeList.appendChild(sizeItem)
            })
          }
          sizes.appendChild(sizeList)
          let colors = row.insertCell(3)
          let colorList = document.createElement('ul')
          if (!result.color) colorList.innerHTML = 'N/A'
          else {
            result?.color.forEach((color, index) => {
              let colorItem = document.createElement('li')
              colorLink = document.createElement('a')
              colorLink.href = color
              colorLink.target = '_blank'
              colorLink.innerHTML = `Color ${index + 1}`
              colorLink.className = 'text-blue-600 hover:underline'
              colorItem.appendChild(colorLink)
              colorList.appendChild(colorItem)
            })
          }
          colors.appendChild(colorList)

          let imgCell = row.insertCell(4)
          let img = document.createElement('img')
          img.src = result.imageURL
          img.alt = result.productName
          img.className = 'w-16 h-16'
          imgCell.appendChild(img)
          row.insertCell(5).innerHTML = result.originalPrice
            ? `${result.originalPrice.toString().replace(regex, `<mark>${search}</mark>`)} EGP`
            : 'N/A'
          row.insertCell(6).innerHTML = result.discountedPrice
            ? `${result.discountedPrice.toString().replace(regex, `<mark>${search}</mark>`)} EGP`
            : 'N/A'
          row.insertCell(
            7
          ).innerHTML = `${result['profit/loss']} (${result['percentage'].toString().replace(regex, `<mark>${search}</mark>`)}%)`
          if (parseFloat(result['percentage']) < 0) row.cells[7].style.color = '#bb2124'
          else {
            row.cells[7].style.color = '#22bb33'
            row.cells[7].innerHTML = `${result['profit/loss'].toString().replace(regex, `<mark>${search}</mark>`)} (+${result['percentage'].toString().replace(regex, `<mark>${search}</mark>`)}%)`
          }
          row.insertCell(8).textContent = result.country
          const urlCell = row.insertCell(9)
          const link = document.createElement('a')
          link.href = result.link
          link.innerHTML = 'View Deal'
          link.target = '_blank'
          link.className = 'text-blue-600 hover:underline'
          urlCell.appendChild(link)
        })

        document.getElementById('resultsContainer').classList.remove('hidden')
      }

      function showLoading(show) {
        const loadingIndicator = document.getElementById('loadingIndicator')
        if (show) loadingIndicator.classList.remove('hidden')
        else loadingIndicator.classList.add('hidden')
      }
    </script>
  </body>
</html>
